<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript" src="/javascripts/index.js"></script>
  <title><%= title %> | Learn-express</title>
</head>
<body>
<header style="display:flex;align-items:center;justify-content: space-between;">
  <h1><a href="/">Learn-express.js</a></h1>
  <div>
    <a href="/users">UserList</a>
  </div>
</header>
