body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.text-center {
  text-align: center !important;
}

.user-sex
.user-paid {
  font-size: 1rem;
}

.male {
  color: blue;
}

.female {
  color: red;
}

.other {
  color: gray;
}

.user-paid {
  color: gold;
}
